<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="munichmotorsport.photocellapplication" >

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".gui.StartScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gui.RaceCreator" />
        <activity android:name=".gui.CarCreator" />
        <activity android:name=".gui.TeamCreator" />
        <activity android:name=".gui.CarManager" />
        <activity android:name=".gui.CarViewer" />
        <activity android:name=".gui.CarSelector" />
        <activity android:name=".gui.RaceManager" />
        <activity android:name=".gui.RaceStarter" >
        </activity>
        <activity android:name=".gui.TeamManager" >
        </activity>
        <activity android:name=".gui.TeamViewer" >
        </activity>
        <activity android:name=".gui.RaceViewer" >
        </activity>
        <activity android:name=".gui.RaceTable" >
        </activity>
    </application>

</manifest>
